# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = fsubal
	email = subal@pixiv.co.jp
[url "git@github.com:"]
	pushInsteadOf = git://github.com/
[alias]
	co = checkout
	st = status
	cm = commit
	pl = pull
	ps = push
	unstage = reset HEAD
	uncommit = reset --soft HEAD^
	sw = switch
	conf = config --list --show-origin

[core]
	editor = code --wait
	quotepath = false
